.primary {
  padding: 20px;
  width: 200px;
  border: 0px solid #FAFAFA;
  text-align: center;
  user-select: none;
  box-sizing: border-box;
  color: #DFDFDF;
  background: #00AFFF;
  border-radius: 7px;
  user-select: none;
  cursor: pointer;
  margin: 10px;
}
