.container {
  display: flex;
  height: 7rem;
  background: linear-gradient(45deg, var(--blue) 0%, var(--dark-blue) 60%);
}

.menu {
  width: 100%;
}

.menu ul {
  position: relative;
  width: 56%;
  top: 40%;
  left: 35%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.menu ul li {
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: var(--white);
  list-style: none;
}

.menu ul li:hover {
  cursor: pointer;
}