.container {
  display: flex;
  flex-direction: column;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.greeting {
  font-family: 'Times New Roman', Times, serif;
  margin-top: 3rem;
  margin-left: 3rem;
  font-size: 5rem;
  max-width: 55rem;
}

.inputTeam{
  font-family: 'Times New Roman', Times, serif;
  font-size: 5vh;
  margin-top: 5vh;
  margin-bottom: 3vw;
  color: #FFFFFF70;
  border-bottom: 1px solid;
  text-align: center; 
}

.SubmitButton{
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  color: #FFFFFF !important;
  font-size: 30px;
  padding: 30px 40px;
  border-radius: 40px;
  border: 0px solid #3866A3;
  background: #00AFFF;
  margin-bottom: 3vw;
}
.SubmitButton:hover {
  color: #FFFCFC !important;
  background: #468CCF;
  background: linear-gradient(to top, #468CCF, #FFF5F7);
  cursor: pointer;
}

.CopyTeamLink{
  background-color: #FFFFFF;

}

.CopyTeamText{
  text-align: center;
  border-color:#cccccc; 
  border-style:solid; 
  padding:9px; 
  font-size:15px; 
  text-align:center; 
  border-width:4px; 
  border-radius:5px;
}
.CopyTeamText:hover{
  cursor: copy;
}

.inviteTeam{

}