.container {
  background-color: #00334a;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.text {
  color: #fff;
  font-size: 2rem;
  font-weight: 900;
}

.userObject {
  background-color: #00000030;
  padding: 1rem;
  border-radius: 8px;
  margin-top: 2rem;
  color: #fff;
  font-weight: 500;
}
